.pathDetailsHeader__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #1c2237;
}

.pathDetailsHeader__title > .MuiSvgIcon-root:hover {
  color: #3ab19d;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.pathDetailsHeader__containerLinks {
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
  padding-bottom: 10px;
}

.pathDetailsHeader__containerLinks > a {
  padding: 10px 20px;
  color: #1c2237;
  font-size: 18px;
  text-decoration: none;
}

.pathDetailsHeader__containerLinks > a:hover {
  color: #161b2c;
  border-bottom: 1px solid #3ab19d;
}

@media screen and (max-width: 760px) {
  .pathDetailsHeader__title {
    font-size: 14px;
  }

  .pathDetailsHeader__containerLinks > a {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    margin-left: 5px;
  }

  .pathDetailsHeader__containerLinks > a:hover {
    background: #3ab19d;
    border: none;
    border-radius: 3px;
    color: #fff;
  }
}
