.pathList__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}
@media screen and (max-width: 960px) {
  .pathList__container {
    flex-direction: column;
  }
}
